<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <appSettings>
    <!--Logger settings-->
    <add key="levelMessageSeparator" value=": " />
    <add key="separator" value=" " />
    <add key="lineSeparator" value=" | " />
    
    <!--RabbitMq settings-->
    <add key="rabbitVhost" value="vhost" />
    <add key="rabbitMqHost" value="amqp://guest:guest@10.25.13.91:56721" />
    
    <!--General settings-->
    <add key="objectsPerIteration" value="100"/>
    
  </appSettings>
  <connectionStrings>
    <add connectionString="Server=localhost;User Id=postgres; Password=postgres;Database=dm_ocr_process;" name="psqlConnectionString" providerName="Npgsql" />
    <add name="psqlDockerConnectionString" providerName="Npgsql" connectionString="User ID=postgres;Password=postgres;Host=localhost;Port=54321;Database=dm_ocr_process;" />
  </connectionStrings>
</configuration>